// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
// Define fonts for body and headers
$body-font: 'Roboto', sans-serif;
$headers-font: 'Roboto Slab', serif;



h1{
font-size: 6vw;
}
h2{
  font-size:5vw;
}
h3{
  font-size:3vw;
}
h4{
  font-size:2vw;
}
p{
  font-size: 1rem;
}

// To use a font file (.woff) uncomment following lines
 @font-face {
   font-family: "HKGotesk-Black";
   src: font-url('HKGotesk-Black.eot');
   //src: font-url('HKGotesk-Black.eot?#iefix') format('embedded-opentype'),
        //font-url('HKGotesk-Black.woff') format('woff'),
        //font-url('HKGotesk-Black.ttf') format('truetype');
        font-weight: normal;
    font-style: normal;
 }
 $my-font: "HKGotesk-Black";
 html{
  font-size:16px;
}
h1, h2, h3, h4 {
  font-family: $headers-font!important;

}
p > strong {
  font-family: $headers-font!important;
}
