html {
  height: 100%;
  overflow: hidden;
}

body {
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor:url("purple-circle.png")1 1, auto!important;
}
a{
  cursor: url("purple-circle.png")1 1, pointer!important;
}
.row{
  margin:0!important;
}
