html {
  height: 100%;
}

body {
  background: transparent;
  color: white;

  cursor:url("purple-circle.png")1 1, auto!important;
}
a{
  cursor: url("purple-circle.png")1 1, pointer!important;
}
.row{
  margin:0!important;
}

