// Specific CSS for your home-page

body{
  background: transparent;
  color: white;
  cursor:url("mouse.svg"), auto!important;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;

}
p{
  font-family: 'Roboto', sans-serif;
}
a{
    color:white;
    text-decoration:none;
    cursor: url("circle.svg") 8 8, pointer!important;
}

