// Specific CSS for your home-page

body{
  background: transparent;
  color: white;
  cursor:url("white-circle.png") 1 1, auto;
}

a{
    color:white;
    text-decoration:none;
    cursor: url("purple-circle.png") 1 1, pointer!important;
}

