<div class="projects">
  <div class="projects-panel panel-left"></div>
  <div class="projects-panel panel-right"></div>

    <article class="project active">
      <div class="project-panel background-green h-100 w-50">
        <div class="discover">
          <h2 class="animate__animated animate__bounce">FranceFineArt</h2>
          <p class="animate__animated animate__bounce">Revue culturelle des Arts</p>
          <a class="btn btn-flat" href="#">Discover</a>
        </div>
      </div>
        <div class="project-panel project-content background-francefineart h-100 w-50">
        </div>
    </article>
    <article class="project">
      <div class="project-panel background-blue h-100 w-50">
        <div class="discover">
          <h2>Camea</h2>
          <p>Collaboration entre filmakers</p>
          <a class="btn btn-flat" href="#">Discover</a>
        </div>
      </div>
        <div class="project-panel project-content background-camea h-100 w-50">
        </div>
    </article>
    <article class="project">
      <div class="project-panel background-black h-100 w-50">
        <div class="discover">
          <h2>FranceFineArt</h2>
          <p>Revue culturelle des Arts</p>
          <a class="btn btn-flat" href="#">Discover</a>
        </div>
      </div>
        <div class="project-panel project-content background-monurent h-100 w-50">
        </div>
    </article>
    <article class="project">
      <div class="project-panel background-green h-100 w-50">
        <div class="discover">
          <h2>FranceFineArt</h2>
          <p>Revue culturelle des Arts</p>
          <a class="btn btn-flat" href="#">Discover</a>
        </div>
      </div>
        <div class="project-panel project-content background-francefineart h-100 w-50">
        </div>
    </article>
</div>

