<div id="slide5" class="product-banner">
    </div>
    <div id="slide6" class="product-banner">
      <%= image_tag "fun-petals.png" %>
      <%= image_tag "fun-petals-shadow.png" %>
    </div>
    <div id="slide7" class="product-banner"></div>
    <div id="slide8" class="product-banner">
      <div class="title background-black">
        <div class="content">
          <h1>Monurent</h1>
          <p>Locations de Monuments</p>
          <a class="btn btn-flat over" href="3">Discover</a>
        </div>
      </div>
    </div>
