<article class="project" id="FranceFineArt">
  <div class="project-panel background1 kenburns-top h-100 w-50"></div>
  <div class="project-panel project-content background-blue h-100 w-50">
    <div class="discover" id="discover1">
      <h2>Camea</h2>
      <p>Collaboration entre filmakers</p>
      <a class="btn btn-flat over btn-cam" >Discover</a>
    </div>
  </div>
</article>
