<article class="project active" id="ModernArtFamily">
  <div class="project-panel background-green h-100 w-50">
    <div class="discover visi animated fadeInUp" id="discover0" >
      <h2>FranceFineArt</h2>
      <p>Revue culturelle des Arts</p>
      <a class="btn btn-flat over btn-ffa" href="projects/1" >Discover</a>
    </div>
  </div>
  <div class="project-panel project-content background0 kenburns-top h-100 w-50"></div>
</article>
