<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/" target="_blank"><%= image_tag "github" %></a>
    <a href="https://www.instagram.com/thatmrdodo/" target="_blank"><%= image_tag "instagram" %></a>
    <a href="https://www.facebook.com/dorian.rphi?ref=bookmarks" target="_blank"><%= image_tag "facebook" %></a>
    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/feed/" target="_blank"><%= image_tag "linkedin" %></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

