
    <div id="slide1" class="product-banner">
    </div>
    <div id="slide2" class="product-banner">
      <%= image_tag "fun-petals.png" %>
      <%= image_tag "fun-petals-shadow.png" %>
    </div>
    <div id="slide3" class="product-banner"></div>
    <div id="slide4" class="product-banner">
      <div class="titleright background-blue" style ="background-color: #52c1c5">
        <div class="content">
          <h1>Camea</h1>
          <p>Collaboration entre filmakers</p>
          <a class="btn btn-flat over" href="2">Discover</a>
        </div>
      </div>
    </div>
