
    <div id="slide1" class="product-banner">
    </div>
    <div id="slide2" class="product-banner">
      <%= image_tag "fun-petals.png" %>
      <%= image_tag "fun-petals-shadow.png" %>
    </div>
    <div id="slide3" class="product-banner"></div>
    <div id="slide4" class="product-banner">
    </div>
