
<article class="project" id="Monurent">
      <div class="project-panel background3 kenburns-top h-100 w-50">
      </div>
      <div class="project-panel project-content background-pink h-100 w-50">
        <div class="discover" id="discover3">
          <h2>Modern Art Family</h2>
          <p>Agence Artistique</p>
          <button type="button" class="btn btn-flat over btn-maf" >Discover</button>
        </div>
      </div>
    </article>
