
<div id="slide13" class="product-banner">
    </div>
    <div id="slide14" class="product-banner">
      <%= image_tag "fun-petals.png" %>
      <%= image_tag "fun-petals-shadow.png" %>
    </div>
    <div id="slide15" class="product-banner"></div>
    <div id="slide16" class="product-banner">
      <div class="title background-green">
        <div class="content">
          <h1>FranceFineArt</h1>
          <p>Revue culturelle sur l'actualité des Arts</p>
          <a class="btn btn-flat over" href="1">Discover</a>
        </div>
      </div>
    </div>
