<article class="project" id="Camea">
  <div class="project-panel background-black h-100 w-50">
    <div class="discover" id="discover2">
      <h2>Monurent</h2>
      <p>Site de location de Monuments!</p>
      <a class="btn btn-flat over btn-mon">Discover</a>
    </div>
  </div>
  <div class="project-panel project-content background2 kenburns-top h-100 w-50"></div>
</article>
