<div id="slide9" class="product-banner">
    </div>
    <div id="slide10" class="product-banner">
      <%= image_tag "fun-petals.png" %>
      <%= image_tag "fun-petals-shadow.png" %>
      <div class="titleright" style="color:black; text-align: center">
        <h2>Un projet de clone Air'b'n'b un peu funky</h2>
        <a class="btn btn-flat-black over" href="https://monurent.herokuapp.com/" target="blank">Website</a>
      </div>
    </div>
    <div id="slide11" class="product-banner"></div>
    <div id="slide12" class="product-banner">
      <div class="titleright background-pink">
        <div class="content">
          <h1>Camea</h1>
          <p>Collaboration entre filmakers</p>
          <a class="btn btn-flat over" href="4">Discover</a>
        </div>
      </div>
    </div>
