<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-black">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse navbar-lewagon-black" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <%= link_to "/", class: "site-header_logo" do %>
    <%= image_tag "mr.dodo_black.png" %>
    <% end %>
        <%= link_to "Projects", "#", class: "btn btn-flat-black site-header_nav-black"%>
    </ul>
  </div>
</div>
