<div class="about" >
  <div class="about-title">
  <h1><span id="banner-typed-text"></span></h1>
  <p >Je suis créateur digital avec une formation généraliste, ce qui me permet d'appréhender le process de création de manière différente avec pour priorité de répondre à vos attentes </p>
<%= image_tag "dorian.jpg", size:"300x300", alt: "Dorian roche-philis" %>
  </div>

</div>
