<div class="about" >
  <div class="about-title">
  <h1>Dorian</h1>
  <h2>Creative developer</h2>
  <br>
  <p>Ruby, rails, wordpress, shopify, react, js, ...</p>

  </div>
  <%= image_tag "dorian.jpg", size:"300x300", alt: "Dorian roche-philis" %>
  <div class="carre-red"></div>

</div>
