<div class="projects">

    <article class="project active" id="ModernArtFamily">
      <div class="project-panel background-green h-100 w-50" id="backgroundl0">
        <div class="discover visi animated fadeInUp" id="discover0" >
          <h2>FranceFineArt</h2>
          <p>Revue culturelle des Arts</p>
          <a class="btn btn-flat" href="#">Discover</a>
        </div>
      </div>
      <div class="project-panel project-content background0 h-100 w-50">
      </div>
    </article>
    <article class="project" id="FranceFineArt">
      <div class="project-panel background1 h-100 w-50">
      </div>
      <div class="project-panel project-content background-blue h-100 w-50">
        <div class="discover" id="discover1">
          <h2>Camea</h2>
          <p>Collaboration entre filmakers</p>
          <a class="btn btn-flat" href="#">Discover</a>
        </div>
      </div>
    </article>
    <article class="project" id="Camea">
      <div class="project-panel background-black h-100 w-50">
        <div class="discover" id="discover2">
          <h2>Monurent</h2>
          <p>Site de location de Monuments!</p>
          <a class="btn btn-flat" href="#">Discover</a>
        </div>
      </div>
      <div class="project-panel project-content background2 h-100 w-50">
      </div>
    </article>
    <article class="project" id="Monurent">
      <div class="project-panel background3 h-100 w-50">
      </div>
      <div class="project-panel project-content background-pink h-100 w-50">
        <div class="discover" id="discover3">
          <h2>Modern Art Family</h2>
          <p>Agence Artistique</p>
          <a class="btn btn-flat" href="#">Discover</a>
        </div>
      </div>
    </article>
</div>
