
  <!-- <div class="container"> -->
    <!-- <h1> <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p> -->
    <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
    <div class="cards" style='background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= image_path "fun-petals" %>)'>
  <div class="card-category">
    <span class="top">TOP</span>
    <span class="right">RIGHT</span>
    <span class="bottom">BOTTOM</span>
    <span class="left">LEFT</span>
    <span class="angle">ANGLE</span>
    <span class="radial">RADIAL</span>

  </div>

  <div class="card-category">
    <span class="angle">FEATURES</span>
  </div>

  <div class="card-category">
    <span class="radial">JAVASCRIPT</span>
  </div>
</div>
<!-- <div id="scroller-wrapper">
      <div id="scroller">
        <div class="img-defile" style="background: green">1</div>
        <div class="img-defile" style="background: red">2</div>
        <div class="img-defile" style="background: white">3</div>
        <div class="img-defile" style="background: pink">4</div>
        <div class="img-defile" style="background: yellow">5</div>
      </div>
    </div> -->
 <!--  </div> -->

<!-- <ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Bookings</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Requests</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Conversations</a>
  </li>
</ul> -->


