@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
.kenburns-top {
  -webkit-animation: kenburns-top 20s ease-out both;
          animation: kenburns-top 20s ease-out both;
}
@-webkit-keyframes tournerev {
  0% {
clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  }
    20%{
clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 50% 0);


    }
    40%{
clip-path: polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0, 50% 0);

    }
60%{

clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 0);
}
  80% {


clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);

}
100% {

clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
}
}
@keyframes tournerev {
  0% {
clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  }
    20%{
clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 50% 0);


    }
    40%{
clip-path: polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0, 50% 0);

    }
60%{
clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 0);
}
  80% {

clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);

}
100% {
clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
}
}
@-webkit-keyframes tourne {
  0% {
clip-path: polygon(50% 100%, 50% 100%, 50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
  }
    20%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);


    }
    40%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 0, 100% 0, 100% 0, 100% 0);

    }
60%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 0, 0 0, 0 0, 100% 0);
}
  80% {
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 100%, 0 100%, 0 0, 100% 0);
}
100% {
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 50% 100%, 0 100%, 0 0, 100% 0);
}
}

@keyframes tourne {
  0% {
clip-path: polygon(50% 100%, 50% 100%, 50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
  }
    20%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);


    }
    40%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 0, 100% 0, 100% 0, 100% 0);

    }
60%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 0, 0 0, 0 0, 100% 0);
}
  80% {
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 100%, 0 100%, 0 0, 100% 0);
}
100% {
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 50% 100%, 0 100%, 0 0, 100% 0);
}
}

.animationr{
  -webkit-animation: tournerev 1s linear;
          animation: tournerev 1s linear;
          z-index:10;
}
.animationl{
  -webkit-animation: tourne 1s linear;
          animation: tourne 1s linear;
          z-index:10;
}


.banner {
  position: absolute;
  top:0;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height:100vh;
  width: 100vw;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.h-100{
  height:100vh;
}
.w-50{
  width: 50vw;
}
.projects-panel{
  position: fixed;
    top: 50%;
    width: 100%;
    height: 200vw;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.projects .project {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}
.projects .active{
  opacity: 1;
  visibility:visible;
}
.panel-right{
 left: 50%;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.panel-left{
 right: 50%;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.projects .project-panel{
  position:relative;
  float:left;
}
.background0{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('francefineart.jpg');
  background-size: cover;
}
.background-green{
  background-color: #FDD1A2;
}
.background1{
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/oceanshot.jpg');
  background-size: cover;
}
.background-blue{
  background-color: #52c1c5;
}
.background2{
  background-image: url('https://cdn.dribbble.com/users/41854/screenshots/4636719/cleo.gif');
  background-size: cover;
}
.background-black{
  background-color: #1a1816;
}
.background3{
  background-image: url('Modernart.jpeg');
  background-size: cover;
}
.background-pink{
  background-color: #F28888;
}

.color-white{
color:white;
}
