

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */

    -webkit-transform: scale(1.0);
    /* Safari and Chrome */

    -o-transform: scale(1.0);
    /* Opera */

    -moz-transform: scale(1.0);
    /* Firefox */
  }
  100% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */

    -webkit-transform: scale(1.2);
    /* Safari and Chrome */

    -o-transform: scale(1.2);
    /* Opera */

    -moz-transform: scale(1.2);
    /* Firefox */
  }
}
@keyframes kenburns-top {
    0% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */

    -webkit-transform: scale(1.0);
    /* Safari and Chrome */

    -o-transform: scale(1.0);
    /* Opera */

    -moz-transform: scale(1.0);
    /* Firefox */
  }
  100% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */

    -webkit-transform: scale(1.2);
    /* Safari and Chrome */

    -o-transform: scale(1.2);
    /* Opera */

    -moz-transform: scale(1.2);
    /* Firefox */
  }
}
.kenburns-top {
  animation: kenburns-top 50s ease infinite;
  /* Add infinite to loop. */

  -ms-animation: kenburns-top 50s ease infinite;
  -webkit-animation: kenburns-top 50s ease infinite;
  -o-animation: kenburns-top 50s ease infinite;
  -moz-animation: kenburns-top 50s ease infinite;
}
@-webkit-keyframes tournerev {
  0% {
clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  }
    20%{
clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 50% 0);


    }
    40%{
clip-path: polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0, 50% 0);

    }
60%{

clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 0);
}
  80% {


clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);

}
100% {

clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
}
}
@keyframes tournerev {
  0% {
clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  }
    20%{
clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 50% 0);


    }
    40%{
clip-path: polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0, 50% 0);

    }
60%{
clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 0);
}
  80% {

clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);

}
100% {
clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
}
}
@-webkit-keyframes tourne {
  0% {
clip-path: polygon(50% 100%, 50% 100%, 50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
  }
    20%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);


    }
    40%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 0, 100% 0, 100% 0, 100% 0);

    }
60%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 0, 0 0, 0 0, 100% 0);
}
  80% {
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 100%, 0 100%, 0 0, 100% 0);
}
100% {
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 50% 100%, 0 100%, 0 0, 100% 0);
}
}

@keyframes tourne {
  0% {
clip-path: polygon(50% 100%, 50% 100%, 50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
  }
    20%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);


    }
    40%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 0, 100% 0, 100% 0, 100% 0);

    }
60%{
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 0, 0 0, 0 0, 100% 0);
}
  80% {
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 100%, 0 100%, 0 0, 100% 0);
}
100% {
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 50% 100%, 0 100%, 0 0, 100% 0);
}
}

.animationr{
  -webkit-animation: tournerev 1s linear;
          animation: tournerev 1s linear;
          z-index:10;
}
.animationl{
  -webkit-animation: tourne 1s linear;
          animation: tourne 1s linear;
          z-index:10;
}


.banner {
  position: absolute;
  top:0;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height:100vh;
  width: 100vw;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.projects-panel{
  position: fixed;
    top: 50%;
    width: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.projects .project {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    max-height: 100vh;
}
.projects .active{
  opacity: 1;
  visibility:visible;

}

.projects .project-panel{
  position:relative;
  float:left;

}
.background0{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('francefineart.jpg');
  background-size: cover;
}
.background-green{
  background-color: #FDD1A2!important;
  z-index:4;
}
.background1{
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/oceanshot.jpg');
  background-size: cover;
}
.background-blue{
  background-color: #52c1c5!important;
}
.background2{
  background-image: url('https://cdn.dribbble.com/users/41854/screenshots/4636719/cleo.gif');
  background-size: cover;
}
.background-black{
  background-color: #1a1816;
  z-index:4;
}
.background3{
  background-image: url('Modernart.jpeg');
  background-size: cover;
}
.background-pink{
  background-color: #F28888!important;
}

.color-white{
color:white;
}


.project-banner{
  height:40vh;;
  padding: 160px;
  top:0vh;
  margin-top: 0;
  margin-bottom: 10vh;
  text-align: center;
  color:black;
  background-color:white;
}
.product-banner{
  position: relative;
  padding: 25vh 10%;
  min-height: 80vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
  background-color:white;
}
.product-banner:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
}
.product-banner:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.product-banner:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.product-banner, .product-banner:before {
  background: 50% 50% / cover;
}
#slide1:before {
  background-image: url("francefineart.jpg");
  background-attachment: fixed;

}

#slide2 {
  background-color: white;
  z-index:2;
  min-height: 80vh;
}

#slide3:before {
  background-image: url("screen-ffa-hp.png");
  background-attachment: fixed;
}

#slide4 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/oceanshot.jpg');
}
#slide5:before {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/oceanshot.jpg');
  background-attachment: fixed;

}

#slide6 {
  background-color: white;
  z-index:2;
  min-height: 80vh;
}

#slide7:before {
  background-image: url("screen-ffa-hp.png");
  background-attachment: fixed;
}

#slide8 {
  background-image: url('https://cdn.dribbble.com/users/41854/screenshots/4636719/cleo.gif');
}
#slide9:before {
  background-image: url('https://cdn.dribbble.com/users/41854/screenshots/4636719/cleo.gif');
  background-attachment: fixed;

}

#slide10 {
  background-color: white;
  z-index:2;
  min-height: 80vh;
}

#slide11:before {
  background-image: url("screen-ffa-hp.png");
  background-attachment: fixed;
}

#slide12 {
  background-image: url('Modernart.jpeg');
}
#slide13:before {
  background-image: url('Modernart.jpeg');
  background-attachment: fixed;

}

#slide14 {
  background-color: white;
  z-index:2;
  min-height: 80vh;
}

#slide15:before {
  background-image: url("screen-ffa-hp.png");
  background-attachment: fixed;
}

#slide16 {
 background-image: url("francefineart.jpg");
}
#title {
  background-color: white;
  z-index:2;
  min-height: 60vh!important;
}
.product-banner > img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
}

.product-banner > img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}
.title {
  width: 50%;
  height:100%;
  padding: 0%;
  position:absolute;
  top:0;
  left:0;
}
.titleright {
  width: 50%;
  height:100%;
  padding: 0%;
  position:absolute;
  top:0;
  right:0;
}
.content {
  text-align: center;
  color:white;
  position:relative;
  top:60%;
  }


