@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */

    -webkit-transform: scale(1.0);
    /* Safari and Chrome */

    -o-transform: scale(1.0);
    /* Opera */

    -moz-transform: scale(1.0);
    /* Firefox */
  }
  100% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */

    -webkit-transform: scale(1.2);
    /* Safari and Chrome */

    -o-transform: scale(1.2);
    /* Opera */

    -moz-transform: scale(1.2);
    /* Firefox */
  }
}
@keyframes kenburns-top {
    0% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */

    -webkit-transform: scale(1.0);
    /* Safari and Chrome */

    -o-transform: scale(1.0);
    /* Opera */

    -moz-transform: scale(1.0);
    /* Firefox */
  }
  100% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */

    -webkit-transform: scale(1.2);
    /* Safari and Chrome */

    -o-transform: scale(1.2);
    /* Opera */

    -moz-transform: scale(1.2);
    /* Firefox */
  }
}
.kenburns-top {
  animation: kenburns-top 50s ease infinite;
  /* Add infinite to loop. */

  -ms-animation: kenburns-top 50s ease infinite;
  -webkit-animation: kenburns-top 50s ease infinite;
  -o-animation: kenburns-top 50s ease infinite;
  -moz-animation: kenburns-top 50s ease infinite;
}
@-webkit-keyframes tournerev {
  0% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  }
    20%{
      -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 50% 0);
clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 50% 0);


    }
    40%{
      -webkit-clip-path: polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0, 50% 0);
clip-path: polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0, 50% 0);

    }
60%{
-webkit-clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 0);
clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 0);
}
  80% {
-webkit-clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);


clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);

}
100% {
  -webkit-clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);


clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
}
}
@keyframes tournerev {
  0% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);

clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  }
    20%{
-webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 50% 0);
clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);


    }
    40%{
-webkit-clip-path: polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0, 50% 0);
clip-path: polygon(50% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0, 50% 0);

    }
60%{
-webkit-clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 0);
clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 0);

}
  80% {

-webkit-clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);

}
100% {
-webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);

}
}
@-webkit-keyframes tourne {
  0% {
-webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
clip-path: polygon(50% 100%, 50% 100%, 50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);

  }
    20%{
-webkit-clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);


    }
    40%{
-webkit-clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 0, 100% 0, 100% 0, 100% 0);
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 0, 100% 0, 100% 0, 100% 0);

    }
60%{
-webkit-clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 0, 0 0, 0 0, 100% 0);
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 0, 0 0, 0 0, 100% 0);

}
  80% {
-webkit-clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 100%, 0 100%, 0 0, 100% 0);
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 100%, 0 100%, 0 0, 100% 0);

}
100% {
-webkit-clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 50% 100%, 0 100%, 0 0, 100% 0);
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 50% 100%, 0 100%, 0 0, 100% 0);

}
}

@keyframes tourne {
  0% {
-webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
clip-path: polygon(50% 100%, 50% 100%, 50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);

  }
    20%{
-webkit-clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);



    }
    40%{
-webkit-clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 0, 100% 0, 100% 0, 100% 0);
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 100% 0, 100% 0, 100% 0, 100% 0);


    }
60%{
-webkit-clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 0, 0 0, 0 0, 100% 0);
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 0, 0 0, 0 0, 100% 0);

}
  80% {
-webkit-clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 100%, 0 100%, 0 0, 100% 0);
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 0 100%, 0 100%, 0 0, 100% 0);

}
100% {
-webkit-clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 50% 100%, 0 100%, 0 0, 100% 0);
clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 50% 100%, 0 100%, 0 0, 100% 0);

}
}

.animationr{
  -webkit-animation: tournerev 1s linear;
          animation: tournerev 1s linear;
          z-index:10;
}
.animationl{
  -webkit-animation: tourne 1s linear;
          animation: tourne 1s linear;
          z-index:10;
}
