.navbar-lewagon {
  position:sticky;
  top:0;
  z-index:2;
  display: flex;
  align-items: center;
  justify-content:space-around;
  background: transparent;
  box-shadow: 0 4px 2px -2px transparent;
  text-color:white!important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.site-header_nav{
  color:white;
  position:fixed;
  top:60px;
  right:60px;
  font-size:2rem;
  font-family: 'Roboto Slab', serif;
}
.site-header_logo{
  color:white;
  position:fixed;
  top:60px;
  left:60px;
  font-size:3rem;
  font-family: 'Roboto Slab', serif;
  .site-header_logo:hover{
    outline-style: none;
    color:white;
  }
}
