
.navbar-lewagon {
  position:sticky;
  top:0;
  display: flex;
  align-items: center;
  justify-content:space-around;
  box-shadow: 0 4px 2px -2px transparent;
  text-color:white!important;
  z-index:200;
}
.navbar-lewagon-black {
  position:fixed;
  top:0px;
  left:0px;

  z-index:20;
}




.site-header_nav{
  color:white;
  position:fixed;
  top:2rem;
  right:2rem;
  font-size:16px;
}
.site-header_nav-black{
  color:black;
  position:fixed!important;
  top:2rem;
  right:2rem;
  font-size:16px;

}
.site-header_logo{
  position:fixed;
  top:2rem;
  left:2rem;
  font-size:1rem;
  font-family: 'Roboto Slab', serif;
}
.site-header_logo > img{
  height: 8vh;
  }
