
.projects-panel{
  position: fixed;
    top: 50%;
    width: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.projects .project {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    max-height: 100vh;
}

.projects .active{
  opacity: 1;
  visibility:visible;

}

.projects .project-panel{
  position:relative;
  float:left;

}
.background0{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('francefineart.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.background-green{
  background-color: $ffa!important;
  z-index:4;
}
.background1{
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/oceanshot.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.background-blue{
  background-color: $cam!important;
}
.background2{
  background-image: url('https://cdn.dribbble.com/users/41854/screenshots/4636719/cleo.gif');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.background-black{
  background-color: $mon;
  z-index:4;
}
.background3{
  background-image: url('Modernart.jpeg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.background-pink{
  background-color: $maf!important;
}

.color-white{
color:white;
}

@media (min-width: 100px) and (max-width: 575px) {
.discover {
  position:fixed;
  left: 25%;
  top:50%;
transform:translate(-50%, -50%);  display:none;
  text-align:center;
}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
.discover {
  position:absolute;
  bottom: 120px;
  left:16%;
  padding-top: 70px;
  padding-bottom: 60px;
  display:none;
  text-align:center;
  transform:translate(-50%, -50%);
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .discover {
  position:absolute;
  bottom: 120px;
  left:20%;
  padding-top: 70px;
  padding-bottom: 60px;
  display:none;
    transform:translate(-50%, -50%);

}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
.discover {
  position:absolute;
  bottom: 120px;
  left:20%;
  padding-top: 70px;
  padding-bottom: 60px;
  display:none;
    transform:translate(-50%, -50%);

}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
.discover {
  position:absolute;
  bottom: 120px;
  left:20vw;
  padding-top: 70px;
  padding-bottom: 60px;
  display:none;
    transform:translate(-50%, -50%);

}
}


